body {
    margin:0;
}
.navbar {
    height: 5vh;
    background-color: red;
    display: flex;
}

.navbar > .items {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.navbar > .items > .item {
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
}

.content-area {
    display: flex;
    height: 95vh;
}

.content-area > .items {
    display: flex;
    flex-direction:  column;
    margin:  auto;
    width: 60 vw;
}